a(href='/users/create') create

ul
    each item in users
        li= item.name
            a(href="/users/" + item.id, target="_blank") View
            a(href="/users/" + item.id + "/delete", target="_blank") Delete